.button {
  padding: 1.5% 5%;
  border: 1px solid white;
  cursor: pointer;
  border-radius: 10px;
  font-family: "Blacksword";
  margin: 0 auto;
  flex-grow: 1;
  flex-basis: 0; }

.active-button {
  padding: 1.5% 5%;
  border: 1px solid white;
  cursor: pointer;
  border-radius: 10px;
  font-family: "Blacksword";
  margin: auto;
  flex-grow: 1;
  flex-basis: 0;
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.75); }

.button-parent {
  width: 20%;
  margin: 0 auto; }

.admin-button {
  border-radius: 10px;
  padding: 1.5% 2.5%;
  cursor: pointer;
  color: white;
  background: #2265e0; }
  .admin-button:hover {
    color: #2265e0;
    background: white; }

.spirits-list {
  border: 1px solid white;
  border-radius: 10px; }
  .spirits-list .active-list-title {
    padding: 2%;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid white;
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.75); }
  .spirits-list .default-list-title {
    padding: 2%;
    margin: 0;
    border-radius: 10px; }
  .spirits-list .default-list {
    display: flex;
    justify-content: space-around; }
    @media (max-width: 993px) {
      .spirits-list .default-list {
        flex-flow: row wrap; } }
  .spirits-list .longer-list {
    display: flex;
    flex-flow: column; }
