@import 'styles/helpers.scss';
.spirits-list {
    border: $b1w;
    border-radius: 10px;
    .active-list-title {
        padding: 2%;
        margin: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border: $b1w;
        box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.75);
        
    }
    .default-list-title {
        padding: 2%;
        margin: 0;
        border-radius: 10px;
    }
    .default-list {
        display: flex;
        justify-content: space-around;
        @media (max-width: 993px) {
            flex-flow: row wrap;
        }
    }
    .longer-list {
        display: flex;
        flex-flow: column;
        
    }
}