@import "styles/helpers.scss";

.presentation {
    // width: 80%;
    // margin: $oa;
    // @media (max-width: 750px){
    //     width: 95%;
    // }
    >div:first-child {
        padding: 2.5%;
        border: $b1w;
        border-radius: 10px;
        >div:first-child {
            border:$b1w;
            border-radius: 10px;
            padding: 1% 2.5%
        }
    }
}