@import 'styles/helpers.scss';

.beer-container {
    display: flex;
    justify-content: space-around;
    border-bottom: $b1w;   
}

.beer-product {
    border-right: $b1w;
    width: 50%;
    margin: 0;
    padding: 2% 0;
}

.beer-price {
    width: 50%;
    @media (max-width: 993px) {
        margin: 5% 0;
    }
}