.softs {
    &>h2{
        margin: 2.5%;
    }
    >ul {
        list-style:none;
        padding: 1%;
        li {
            
            .soft {
                font-size: 1.5rem;
                display: flex;
                justify-content: space-between;
                .product {
                    width: 80%;
                    text-align: left;
                    margin-right:1%;
                }
                .price {
                    width: 20%;
                    text-align: right;
                
                }
            }
        }
    }
}