.header {
    margin: 2.5% 0 5%;
    h1 {
        @media (max-width: 993px) {
            padding: 1%;
        }
    }
}

.logo {
    width: 25%;
    padding: 1%;
    @media (max-width: 993px) {
        width: 50%;
    }
}