.App {
  text-align: center;
  max-width: 1400px;
  margin: 0 auto;
  color: white;
  font-size: 1.25em;
  letter-spacing: 1.6px;
  line-height: 1.6em;
  box-sizing: border-box; }
  .App #aristo-title #aristo-text {
    color: 'grey'; }
  .App #aristo-video {
    width: 100%;
    border-radius: 4px;
    padding: 2.5% 0; }
