html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'Blacksword';
  src: local('Blacksword'), 
       url('./assets/fonts/Blacksword.woff')
       format('woff');
}
/* signika-regular - latin */
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 400;
  src: local('Signika Regular'), 
       url('./assets/fonts/signika-v7-latin-regular.woff')
       format('woff');
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Signika';
  background: rgba(0, 0, 0, 0.9);
}
h1, h2 {
  font-family: 'Blacksword';
}
h3, h4 {
  font-family: 'Signika';
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
p {
  font-size: 1em;
}

.btn-outline-secondary {
  color: #ffffff;
  background-color: transparent;
  background-image: none;
  border-color: #ffffff;
}
.btn-outline-secondary:hover {
  background-color: transparent;
  box-shadow: 0px 0px 5px 2.5px rgba(255, 255, 255, 0.75);
}
.btn>.btn-outline-secondary:active {
  background-color: transparent;
  box-shadow: 0px 0px 5px 2.5px rgba(255, 255, 255, 0.75);
}
